.App {
	background-image: url('https://images7.alphacoders.com/127/1279154.jpg') ;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	background-size: cover;
}
.header {
	border : 2px solid;
}
.body {
	border: 2px solid;

}
.table {
	border: 2px collapse;
}
.character {
	position: absolute;
	border: 2px solid;
}
.rectangle{
	position: absolute;
	background-color : rgb(51, 221, 51);
	height: 25%;
	width: 100%;
	top:75%;
}
.coinValue {
	position:absolute;
	font-size: 30px;
}
.powerPoint{
	position: absolute;
	left : 10%;
	top : 10%;
}
.skullCoin {
	position: absolute;
	left :60%;
	top : 10%;
}
.name {
	position: absolute;
	top : 60%;
	font-size: 30px;
	font-weight: bold;
}
.powerName{
	position : absolute;
	top : 60%;
	font-size: 30px;
	font-weight: bold;
	color : black;
	right: 15%;
	font-size: 25px;
}
.powerValue{
	position : absolute;
	height : 23%;
	width : 10%;
	right: 1%;
	border:  2px solid;
	top : 55%;
	font-size: xx-large;
	font-weight: bold;
	color : white;
	background-color: black;
}
.cup {
	position:absolute;
	font-size : 38px;
	right : 50%;
	top : -10%;
}
.button {
	position: absolute;
	font-size: 30px;
	left : 43%;
}
.rank {
	position: absolute;
	top : -50px;
	border-radius: 100%;
}
.length {
	position: absolute;
	top : 5%;
	left : 40%;
	font-size : 50px;
}
.bar {
	position: absolute;
	height : 33px;
	width : 180px;
	border: 2px solid;
	top:-40px;
	left : 18%;
}
.plusOperator {
	position:absolute;
	left : 40%;
	font-size: 38px;
}
.rankValue {
	position: absolute;
	top : -40px;
	font-size: 30px;
	left:16px;
}
