.App {
	background-image: url('https://images.squarespace-cdn.com/content/v1/58af450eb3db2b0582612f1d/1498115690320-JKQCEQN70EQRPMLUPEVQ/image-asset.jpeg?format=1000w') ;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.name {
	position: absolute;
	font-size: 33px;
	font-weight: bold;
	top : 60%;
}
.body .table .header{
	border: 2px solid;
}
.character {
	position: relative;
	border: 2px solid;
	height: 250px;
	width: 250px;
}
.rectangle{
	position: absolute;
	background-color : rgb(51, 221, 51);
	height: 25%;
	width: 100%;
	top:75%;
}
.coinValue {
	position:absolute;
	font-size: 30px;
}
.powerPoint{
	position: absolute;
	left : 10%;
	top : 10%;
}
.skullCoin {
	position: absolute;
	left :60%;
	top : 10%;
}
.powerName{
	position : absolute;
	top : 60%;
	font-size: 30px;
	font-weight: bold;
	color : black;
	right: 15%;
	font-size: 25px;
}
.powerValue{
	position : absolute;
	height : 23%;
	width : 10%;
	right: 1%;
	border:  2px solid;
	top : 55%;
	font-size: xx-large;
	font-weight: bold;
	color : white;
	background-color: black;
}
.cup {
	position:absolute;
	font-size : 38px;
	right : 50%;
	top : -10%;
	left : 100%;
}
.button {
	font-size: 30px;
}
.rank {
	position: absolute;
	top : -50px;
	border-radius: 100%;
	width:15%;
	height:20%;
}
.brawlerCount {
	font-size : 50px;
	color : white;
}
.header {
	position: absolute;
	height : 15%;
	width : 70%;
	border: 2px solid;
	top:-40px;
	left : 18%;
}
.bar {
	position: absolute;
	height : 100%;
	background-color: black;
}
.plusOperator {
	position:absolute;
	left : 40%;
	font-size: 38px;
}
.rankValue {
	position: absolute;
	top : -40px;
	font-size: 30px;
	left:5%;
}
.img {
	position:absolute;
	background-color: violet;
	height:100%;
	width:100%;
}
.trophyStyle {
	position: absolute;
	font-size: 500px;
 	left : 35px;
	font-size: 70%;
	top : 10%;
}
.powerSymbol {
	position:absolute;
	top : 58%;
	left : 45%;
}
.powerTop {
	padding-top : 5px;
	border-radius: 50%;
}
.powerBottom {
	 padding-top : 0px;
	border-radius: 50%;
}
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 850px;
	width : 1200px;
	border:  10px solid antiquewhite;
}
